<style>
    .m-header .m-topbar {
        height: 70%;
    }
</style>

<!-- begin::Topbar -->
<div class="m-grid__item m-grid__item--fluid m-header-head" id="m_header_nav" appunwraptag="">
    <div id="m_header_topbar" class="m-topbar  m-stack m-stack--ver m-stack--general">
        <div class="m-stack__item m-topbar__nav-wrapper">
            <ul class="m-topbar__nav m-nav m-nav--inline">
                <li class="m-nav__item m-topbar__notifications m-topbar__notifications--img m-dropdown m-dropdown--large m-dropdown--header-bg-fill m-dropdown--arrow m-dropdown--align-center 	m-dropdown--mobile-full-width"
                    m-dropdown-toggle="click" m-dropdown-persistent="1">
                    <a href="#" class="m-nav__link m-dropdown__toggle" id="m_topbar_notification_icon">
                        <span class="m-nav__link-badge m-badge m-badge--dot m-badge--dot-small m-badge--danger"></span>
                        <span class="m-nav__link-icon">
                            <span class="m-nav__link-icon-wrapper"> 
                                <i class="flaticon-music-2" style="color: #53B1D5;"></i> 
                            </span> 
                        </span>
                    </a>
                </li>
                <li class="m-nav__item m-topbar__user-profile m-topbar__user-profile--img  m-dropdown m-dropdown--medium m-dropdown--arrow m-dropdown--header-bg-fill m-dropdown--align-right m-dropdown--mobile-full-width m-dropdown--skin-light"
                    m-dropdown-toggle="click">
                    <a routerLink="/profile" class="m-nav__link m-dropdown__toggle">
                        <span class="m-topbar__username m--hidden-tablet m--hidden-mobile m--padding-right-15">
                            <span class="m-link" style="color: black;">Venkat</span>
                        </span>
                        <span class="m-topbar__userpic">
                            <i class="m-nav__link-icon flaticon-user"></i>
                        </span>
                    </a>
                </li>
                <li class="m-nav__item">
                    <a routerLink="/logout" class="m-nav__link m-dropdown__toggle">
                        <span class="m-nav__link-icon m-nav__link-icon--aside-toggle"> 
                            <span class="m-nav__link-icon-wrapper">
                                <i class="flaticon-logout" style="color: #53B1D5;"></i>
                            </span> 
                        </span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- end::Topbar -->