<div class="m-footer__wrapper" appunwraptag="">
	<div class="m-stack m-stack--flex-tablet-and-mobile m-stack--ver m-stack--desktop">
		<div class="m-stack__item m-stack__item--left m-stack__item--middle m-stack__item--last"> <span
				class="m-footer__copyright" style="color: black;"> <a href="#"
				class="m-link" style="color: black;">Candidate Dashboard</a>&copy;  2020 All Rights Reserved  </span> </div>
		<div class="m-stack__item m-stack__item--right m-stack__item--middle m-stack__item--first">
			<ul class="m-footer__nav m-nav m-nav--skin-dark m-nav--inline m--pull-right">
				<li class="m-nav__item m-nav__item--last"> 
					<a href="#" class="m-nav__link" data-toggle="m-tooltip" title="dashboard" data-placement="left"> 
						<img alt="" src="./assets/demo/demo4/media/img/logo/demo-candidate.jpeg" height="20px" />
					</a> 
				</li>
			</ul>
		</div>
	</div>
</div>